@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
:root {
  --colorNaranja: #F29224;
  --colorAzul: #104CAD;
  --colorNegro: black;
  --colorBlanco: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1, h2, h3, p, a, li { text-decoration: none; }
html { scroll-behavior: smooth; }
.boton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  padding: 1em;
  border-radius: 2em;
  cursor: pointer;
}
.boton img, .boton .img-hover {
  padding-right: 0.5em;
  width: 2em;
}
.boton img {
  transition: opacity ease;
}
.boton .img-hover {
  position: absolute; 
  left: 2.5em;        
  opacity: 0;
}
.footer-menu h4, h1, span, .span, .cabeza, legend, .boton, .pie, .menu, dt { font-weight: 700; }
#informacion1, #fondo { scroll-margin-top: 50px; }
#informacion2, #fondo, #actividades { scroll-margin-top: 100px; }
#ham {
  display: block;
  padding: 10px;
  z-index: 1001;
  margin: 2em;
}
.nav-icon, header, footer, .social-icons, fieldset, .mapa, #informacion1 .imagen, #actividades article, .oficina, .slide, #clientes, #fondo, .carousel, .card, .group   {
  display: flex;
}
.nav-icon, footer, header nav, fieldset, #actividades article, #clientes{ flex-direction: column; }
.nav-icon, header, #telefono{ justify-content: space-between; }
.nav-icon {
  width: 30px;
  height: 22px;
  cursor: pointer;
}
.nav-icon span, footer, #informacion2, #telefono, .boton:hover { background-color: var(--colorAzul);}
.nav-icon span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  transition: transform .3s ease, opacity .3s ease;
  transform-origin: center;
}
#ham.open .nav-icon span:nth-child(1) { transform: translateY(9px) rotate(45deg); }
#ham.open .nav-icon span:nth-child(2) { opacity: 0; }
#ham.open .nav-icon span:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }
.link-tel { pointer-events: auto; }
.link-tel:visited, .link-tel:hover, .link-tel:active, .link-tel {
  color: inherit;
  text-decoration: none;
}
 #actividades .article4 img, .imagen2, .carousel::-webkit-scrollbar { display: none; }
footer, .footer-menu h4, .footer-menu ul li a, .footer-section p, h1, #informacion2 h3, #informacion2 p, #telefono p, .boton:hover, #fondo h3, .dl, button{
  color: var(--colorBlanco);
}
.cabeza, h2, h3, dd, dd a, #informacion h3, #informacion p, .boton, .pie, dl { color: var(--colorAzul); }
.cabeza:hover, .footer-menu ul li a:hover, button:hover, .pie:hover, .span { color: var(--colorNaranja); }
.nav-icon span, header nav, .cabeza, .footer-menu ul li a, button, .boton, .boton:hover img,  .redes:hover img, .redes1:hover img, .piepag:hover, .piepag1:hover {
  transition: .3s;
}
header, footer, .footer-logo, fieldset, #actividades article, .head, #telefono, .oficina, .slide, .centrado, .boton, #clientes, #fondo, .card, .group, .nav-menu, .footer-section, #informacion1 .imagen  {
  align-items: center;
}
header, header nav, input, textarea, button:hover, .boton { background-color: var(--colorBlanco); }
header {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 6em;
}
header nav {
  display: flex;
  position: absolute;
  top: 6em;
  left: 0;
  width: 100%;
  padding: 2em;
  z-index: 1000;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .8s cubic-bezier(0.165,.84,.44,1);
}
header nav.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.cabeza, footer, h1, h3, h2, legend, #actividades article, #telefono, .boton2, .contenedor1, .boton{ text-align: center; }
.cabeza {
  padding: 1.2em;
  font-size: 1.1em;
  border-bottom: 1px solid var(--colorBlanco);
}
footer {
  padding: 3em 1.5em;
  gap: 3em;
}
.footer-menu, p, #informacion1 article { text-align: left; }
.footer-section { 
  width: 100%; 
  margin-bottom: 2em; }
.footer-menu h4 { 
  font-size: 1.2em; 
  margin-bottom: 1em; 
  }
.footer-menu ul { 
  list-style: none; }
.footer-menu ul li { 
  margin-bottom: .8em; }
.footer-menu ul li a { 
  font-size: .95em; 
  transition: color .3s ease; }
.tira-imagen {
  object-fit: none;
  object-position: left center;
  width: auto;
  height: 100%;
}
.footer-section p { 
  padding-right: 0; 
  margin-top: .5em; 
  font-size: .9em; 
  }
.footer-section { 
  padding-left: 0; 
  text-align: center; 
  width: 100%; }
.footer-logo img { 
  width: 7em; }
.social-icons, form, #informacion1 .imagen, #actividades article, #informacion, #informacion2, .mapa, .oficina, #fondo, .card { 
  justify-content: center; }
.social-icons { 
  gap: 15px; 
  scale: 75%; }
.social-icons img { 
  width: 35px; 
  height: 35px; 
  cursor: pointer; }
h1 { 
  padding-bottom: 1em; 
  font-size: 2em; 
  }
h2 { font-size: 1.5em; }
h3 { font-size: 1.8em; }
h4 { 
  margin-bottom: 10px; 
  font-size: 14px; 
  font-weight: 400; }
dl{ padding: 1em 0 2em 0.5em; }
.dl{ padding-top: 0; }
dt, dd, dd a {  
font-style: normal;
border: none; }
p { 
  font-size: 1em; 
  margin-top: 2em; 
  padding-right: 3em;
  color: var(--colorNegro); }
dd, dt{ 
  list-style: none; 
  font-size: 1em; 
  padding-bottom: .3em; }
span { font-size: 70%; }
.span { font-size: 300%; }
.espacio { 
  padding-top: 1em; 
  padding-bottom: 1em; 
  padding-left: .5em; }
form {
  display: inline-grid;
  padding: 2em;
  margin: 0 auto;
}
fieldset { border: transparent; }
input, textarea {
  border-radius: 1em;
  padding-left: 1em;
  margin-bottom: 1.5em;
  color: var(--colorNegro);
  font-size: 1.5em;
  width: 100%;
  max-width: 20em;
  height: 2em;
}
textarea { padding-top: .3em; }
button {
  background-color: var(--colorNaranja);
  margin-left: 3.5em;
  font-size: 1.3em;
  border-radius: .5em;
  margin-top: 1em;
  padding: .2em;
  width: 50%;
}
#informacion1 .imagen { 
  flex-wrap: wrap; 
  width: 100%; 
  scale: 1; 
  padding: 0 10px; }
#informacion1 .imagen img { 
  width: 100%; 
  max-width: 500px; 
  height: auto; 
  object-fit: cover; }
#actividades article {
  border: .3em solid var(--colorAzul);
  margin: 0 auto;
  padding: 0 1em;
  border-radius: 1em;
  gap: 1.3em;
  width: 100%;
  max-width: 18em;
  margin-top: 2em;
  height: 11em;
}
#actividades .article2 { height: 15em; }
#informacion { 
  display: grid; 
  margin-bottom: 2em; 
  margin-top: 2em; 
  }
#informacion1 article, #informacion1 p { 
  padding-right: 0; 
  display: grid; 
  margin-bottom: 1em; }
#informacion2 {
  display: grid;
  padding: 2em;
  gap: 2em;
  padding-bottom: 3em;
}
#informacion2 p { padding-right: 0; }
#actividades .especial { 
  width: 100%; 
  border: 0; 
  margin-top: 2em; 
  margin-bottom: 1em; }
#actividades .especial h2 { font-size: 1.8em; }
#actividades img { height: 6em; }
.head { 
  scale: 35%; 
  display: block; 
  margin-top: -1em; }
.article h3, .article2 h3 { 
  height: 4em; }
#telefono {
  flex-direction: row;
  padding: 0 10px;
  height: auto;
  min-height: 40px;
  padding-top: 1em;
}
#telefono p { 
  font-size: .85em; 
  padding-right: 0; 
  margin-top: 0; }
.mapa { 
  width: 100%;  
  padding: 0 10px; }
.mapa iframe { 
  width: 100%; 
  max-width: 300px; 
  height: 250px; }
.oficina { 
  flex-direction: row; 
  gap: .2em; 
  width: 100%; }
.oficina p { 
  font-size: 13px; 
  white-space: nowrap; }
.oficina img { 
  width: 20px; 
  height: auto; }
.redes:hover img, .redes1:hover img, .piepag:hover, .piepag1:hover {  transform: scale(120%); }
.boton:hover img {  
  content: url(img/logowhatsapp.webp); }
.redes:hover img, .piepag1:hover img { 
  content: url(img/logofacebooknaranja.webp); }
.redes1:hover img, .piepag:hover img { 
  content: url(img/logoinstagramnaranja.webp); }
.piepag, .piepag1 { 
  padding-left: 2em; 
  width: 50%; }
.logo { 
  width: 9em; 
  margin: 1.8em; 
  border-radius: 0; }
.contenedor, .centrado, #informacion1 { 
  margin: 0 auto; 
  width: 90%; 
  margin-bottom: 3em; }
#informacion1 { margin-top: 4em; }
.slide {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  background-color: #000;
}
.slide::before {
  content: "";
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 1;
  background-image: url(img/fachada.webp), linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  animation: zoom 8s ease-in-out forwards;
}
.contenedor1 { 
  position: relative; 
  z-index: 2; 
  margin: 0 auto; 
  max-width: 75em; 
  padding: 6em 2em; }
@keyframes zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}
.subtitulo { 
  display: block; 
  margin-top: 10px; }
.centrado { 
  gap: 2em; 
  padding: 6em 0; }
.boceto { background-image: url(img/Bocetos.webp); 
  background-repeat: no-repeat; 
  background-size: cover; }
.inscribete { 
  background-image: url(img/inscribete.webp); 
  background-repeat: no-repeat; 
  background-size: cover; }
#clientes { 
  width: 100%; 
  overflow: hidden; 
  padding-bottom: 2em; }
#clientes h3 { padding-top: 2em; }
#clientes img { 
  width: 100%; 
  height: auto; 
  scale: 1; }
#clientes > img { 
  width: 90%; 
  max-width: 300px; 
  height: auto; 
  margin-top: 2em; 
  scale: 1; }
#fondo{ background: var(--colorAzul); }
#fondo h3 { padding-top: 1em; }
.carousel {
  margin-top: 2em;
  width: 60%;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 1em;
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}
.card { 
  width: 120px; 
  margin: 0 15px; 
  }
.group { 
  flex-shrink: 0; 
  animation: scrollHorizontal 25s infinite linear; }
@keyframes scrollHorizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
.logols { width: 8em; }
@media all and (min-width: 768px) {
  .nav-menu, .footer-section, #telefono, .footer-logo, header nav, .imagen, nav, #actividades{ display: flex; }
  .nav-menu, .footer-section, .footer-logo { flex-direction: column; }
  .nav-menu {
    margin-right: 20px;
    position: fixed;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    left: 100%;
    transition: left .5s ease;
  }
  .footer-section dl, .footer-section ul, #informacion h3, #informacion { text-align: left; }
  .nav-menu_visible { left: 0 !important; }
  .footer-menu h4 {  margin-right: 3em; }
  footer { padding: 5em 2em; }
  .footer-container { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    width: 100%; 
    max-width: 1100px; 
    gap: 0; 
    align-items: flex-start; }
  .footer-menu { text-align: center; }
  #informacion1 .imagen { flex-wrap: nowrap; }
  #informacion1 .imagen img { width: 48%; }
  .footer-logo { padding-bottom: 0; }
  .footer-logo img { 
    width: 10em; 
    margin-bottom: 1.5em; }
  .social-icons { 
    width: 100%; 
    margin-top: 10px; }
  header nav {
    position: static;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
    flex-direction: row;
    width: auto;
    box-shadow: none;
    transition: none;
    padding: 0;
  }
  .cabeza { 
    border-bottom: none; 
    padding: 1em; 
    margin-left: 1em; 
    width: auto; }
  .carousel { width: 40%; }
  #telefono p { padding-bottom: 1em; }
  .oficina {
     width: 0;
    justify-content: space-between;    
    }
  h1 { 
    padding-bottom: 1em; 
    font-size: 3em; 
    }
  #telefono {
    height: 3em;
    padding-left: 4em;
    padding-right: 4em;
  }
  .oficina img { 
    padding-right: .2em; 
    padding-bottom: .8em; }
  #clientes img { scale: 120%; }
  .mapa { scale: 100%; }
  #informacion1 { 
    max-width: 1160px; 
    margin-left: 3em; 
    margin-right: 3em; }
  #informacion1 img { margin-top: 2em; }
  .imagen { scale: 92%; }
  header {
    padding-right: 6em;
    padding-left: 2em;
  }
  .article { height: 14em; }
  .article2 { height: 20em; }
  fieldset { 
    flex-direction: row; }
  #actividades .especial { 
    flex-basis: 100%; 
    max-width: 100%; 
    height: 4em; }
  #ham { display: none; }
  #actividades { 
    flex-wrap: wrap; 
    max-width: 500px; }
  #actividades article, #actividades .article2 { 
    width: 14em; 
    height: 18em; }
  #actividades h3 { font-size: 1.6em; }
  .logo { 
    width: 10em; 
    margin: 1.5em; 
    border-radius: 0; }
  .cabeza, .pie { 
    padding: .3em; 
    border-radius: 2em; 
    font-size: 1em; 
    margin-left: 1em; 
    transition: .3s; }
  .cabeza:hover { 
    color: var(--colorNaranja); 
    transform: translateY(0.2em); }
  .cabezal { height: 6em; }
} 
@media all and (min-width: 1200px) {
  .oficina { padding-left: 3.8em; }
  #informacion {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    width: 40%;
    gap: 2em;
  }
  .mapa { 
    padding-top: 0; 
    justify-content: left; }
  p { 
    margin-top: 0; 
    font-size: 1.3em; }
  .span { font-size: 400%; }
  #informacion1 article, #informacion1 p { 
    margin-right: 3em; 
    text-align: left; }
  #informacion1 .imagen, #actividades { display: flex; }
  #informacion1 .imagen { 
    flex-direction: column; 
    gap: 0; 
    line-height: 0; }
  #informacion1 .imagen img { 
    width: 160%; 
    max-width: 600px; 
    height: auto !important; 
    margin: 0 auto; }
  h2 { 
    text-align: left; 
    font-size: 200%; }
  .imagen { scale: 102%; }
  #informacion1 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    flex-wrap: nowrap;
  }
  #informacion1 h2, #informacion1 p { 
    max-width: 600px; 
    text-align: left; }
  #informacion1 img[alt=camioneta], #informacion1 img[alt=oficina] { 
    width: 350px; 
    height: auto; }
  header { padding-left: 6em; }
  nav a { margin: 0 1em; }
  #actividades { max-width: 920px; }
  #actividades article { flex-basis: 21em; }
  #actividades .especial { height: 1em; }
  .contenedor { max-width: none; }
}
